html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.3 sans-serif;
}

#header {
    background: lightblue;
    font-size: 2rem;
    padding: 2rem;
}

#nav {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: #efefef;
    list-style: none;
    margin: 0;
    padding: 0 1rem;

    a {
        padding: 1rem 2rem;
        display: inline-block;
        color: black;
        text-decoration: none;
        &:hover {
            background-color: #ccc;
        }
    }
}

#content {
    padding: 1rem 2rem;
}

.hide {
    display: none !important;
}

